html, body {
    min-height: 100%;
}

body {
    height: 100%;
}

@media only screen and (max-width: 576px){
    .padding-left-right-0 {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (min-width: 576px) {
    .row-no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .row-no-gutters > .col,
    .row-no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 576px) and (orientation:landscape) {
    .col-3 {
        flex: 0 0 16% !important;
        max-width: 16% !important;
    }

    .col-7 {
        flex: 0 0 66.333333% !important;
        max-width: 66.333333% !important;
    }

    .col-2 {
        flex: 0 0 17.666667% !important;
        max-width: 17.666667% !important;
    }
}

.padding-right-0 {
    padding-right: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.separator {
    border-bottom: 1px solid #ced4da;
    margin-top: .6rem;
    padding-bottom: .6rem;
}

.scroll-spy {
    position: relative;
}

#navbar-months {
    background-color: #e9ecef !important;
    height: 60px;
}

#events {
    padding-bottom: 60px;
}

.border-radius-0 {
    border-radius: 0;
}

.after-submit {
    padding: 2rem 1rem;
}

.event-date, .event-hours {
    padding-left: 0;
    padding-right: 0;
    padding-top: .2rem;
}

.event-date h2, .event-hours h2 {
    font-weight: normal;
    font-size: 1rem;
}

.event-date h2 span, .event-details span, .event-hours h2 span {
    display: block;
}

.event-numerical-day-month {
    font-size: 1.2rem;
}

.event-details {
    font-weight: 500;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.event-details:hover {
    background-color: rgba(0,0,0,.04);
}

.separator .row {
    margin: .3rem 0;
    padding: .2rem 0;
}

.separator .row div:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

.display-none {
    display: none;
}

#filter-city {
    background-color: #e9ecef;
    padding: .5em;
    margin-bottom: 1em;
}

.jumbotron {
    margin-bottom: 1em;
}
