html, body {
    min-height: 100%;
}

body {
    height: 100%;
}

/* HEADER */
header {
    margin-bottom: 5em;
}
.navbar {
    -webkit-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0 1px 2px -1px rgba(0,0,0,0.32);
    box-shadow: 0 1px 2px -1px rgba(0,0,0,0.32);
}

.navbar-brand img {
    height: 1.6em;
}

.dropdown-item:active {
    background-color: #a0913d;
}

@media only screen and (max-width: 1023px) {
    .navbar-collapse .collapse .show {
        margin-top: 1rem!important;
    }

    .navbar-nav {
        margin-bottom: .5rem!important;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar-nav label {
        margin-bottom: 0;
        margin-top: .45rem!important;
        margin-right: 1rem!important;
    }
}

.navbar-nav label {
    color: #777;
}

.navbar-bg {
    background-color: #fff!important;
}

.city-select:focus {
    border-color: #a0913d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(160,145,61,.5);
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a0913d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(160,145,61,.25);
}

.btn-outline {
    color: #a0913d;
    background-color: transparent;
    background-image: none;
    border-color: #a0913d;
}

.btn-outline:hover {
    color: #fff;
    background-color: #647382;
    border-color: #647382;
}

.btn-outline:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(160,145,61,.5);
    box-shadow: 0 0 0 0.2rem rgba(160,145,61,.5);
}

.btn-outline-success:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #647382;
    border-color: #647382;
}

/**
    Select2 styling like bootstrap with vox colorway
 */
.select2-container--bootstrap .select2-selection {
    box-shadow: none;
    line-height: 1.5;
    padding: .375rem 1.75rem .375rem .75rem;
    color: #495057;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    background-size: 8px 10px;
    border: 1px solid #a0913d;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select2-container--bootstrap .select2-dropdown {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #a0913d;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #a0913d;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection:focus {
    border-color: #a0913d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(160,145,61,.075), 0 0 5px rgba(160,145,61,.075);
    box-shadow: inset 0 1px 2px rgba(160,145,61,.075), 0 0 5px rgba(160,145,61,.075);
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: #a0913d;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: #a0913d;
}

.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

/**
FOOTER
 */
footer {
    background-color: #2d3237 !important;
}

.nav-link {
    width: fit-content;
    margin: auto;
    color: #b4b7ba;
}

.nav-link:hover {
    color: #fff;
}

.nav-item {
    padding: 0;
}
.nav-pills {
    width: inherit;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #fff;
    color: #a0913d;
}

#jump-to-today {
    color: #b4b7ba;
    display: block;
    text-align: center;
    padding: .5rem 1rem;
}

#jump-to-today:hover {
    color: #fff;
    text-decoration: none;
}


@media only screen and (max-width: 576px){
    #navbar-months {
        padding-right: 0.938em;
        padding-left: 0.938em;
    }

    .nav-link, #jump-to-today {
        padding: .3em .2rem;
    }
}

@media only screen and (min-width: 576px) {
    .row-no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .row-no-gutters > .col,
    .row-no-gutters > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .nav-item {
        margin-right: 0.938em;
    }
}

@media (max-width: 576px) and (orientation:landscape) {
    .col-3 {
        flex: 0 0 16% !important;
        max-width: 16% !important;
    }

    .col-7 {
        flex: 0 0 66.333333% !important;
        max-width: 66.333333% !important;
    }

    .col-2 {
        flex: 0 0 17.666667% !important;
        max-width: 17.666667% !important;
    }
}

.padding-right-0 {
    padding-right: 0;
}

.separator {
    border-bottom: 1px solid #ced4da;
    margin-top: .6rem;
    padding-bottom: .6rem;
}

.scroll-spy {
    position: relative;
}

#events {
    padding-bottom: 60px;
}

.event-date, .event-hours {
    padding-left: 0;
    padding-right: 0;
    padding-top: .2rem;
}

.event-date h2, .event-hours h2 {
    font-weight: normal;
    font-size: 1rem;
    padding-top: .2rem;
}

.event-date h2 span, .event-details span, .event-hours h2 span {
    display: block;
}

.event-numerical-day-month {
    font-size: 1.2rem;
}

.event-details {
    font-weight: 500;
    padding: .2rem 1rem;
}

.event-details:hover {
    background-color: rgba(0,0,0,.04);
}

.separator .row {
    margin: .3rem 0;
    padding: .2rem 0;
}

.separator .row div:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

.display-none {
    display: none;
}

.text-muted {
    color: #a9a9a9 !important;
}
